@import "template";





// DEFAULT
body {
	@extend %clearspace-extend;
	@include transition();
	background: #FFF;
	font-size: 16px;
	line-height: 1.5em;
	width: 100%;
	color: $darkergrey;
	overflow-x: hidden;
}
ul,li {
	@extend %clearspace-extend;
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	@extend %clearspace-extend;
	font-weight: normal;
	line-height: 1.4em;
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }
a {
	@include transition(200ms);
	color: $red;
	&:hover {
		color: $orange;
		text-decoration: none;
	}
}
hr {
	width: 60px;
	max-width: 200px;
	border-color: $red;
}





// CUSTOM
.clearspace { @include clearspace(); }
.round { @include round(50%); }
.round-xs { @include round(5px); }
.round-sm { @include round(10px); }
.round-md { @include round(20px); }
.round-lg { @include round(40px); }
.shadow-xs { @include shadow(5px); }
.shadow-sm { @include shadow(10px); }
.shadow-md { @include shadow(20px); }
.shadow-lg { @include shadow(40px); }
.textshadow-xs { @include textshadow(3px); }
.textshadow-sm { @include textshadow(5px); }
.textshadow-md { @include textshadow(8px); }
.textshadow-lg { @include textshadow(12px); }
.tab-xs { padding-left: 5px; }
.tab-sm { padding-left: 10px; }
.tab-md { padding-left: 20px; }
.tab-lg { padding-left: 40px; }
.maxwidth-lg { max-width: 900px; margin: 0px auto; }
.maxwidth-md { max-width: 700px; margin: 0px auto; }
.maxwidth-sm { max-width: 500px; margin: 0px auto; }
.maxwidth-xs { max-width: 300px; margin: 0px auto; }
.image-max-fit { max-width: 100%; }
.image-fit { width: 100%; }
.background-white { background: #FFF; }
// CUSTOM TEXT
.text-white { color: #FFF !important; }
.text-lightestgrey { color: $lightestgrey !important; }
.text-lightergrey { color: $lightergrey !important; }
.text-lightgrey { color: $lightgrey !important; }
.text-grey { color: $grey !important; }
.text-darkgrey { color: $darkgrey !important; }
.text-darkergrey { color: $darkergrey !important; }
.text-darkestgrey { color: $darkestgrey !important; }
.text-red { color: $red !important; }
.text-orange { color: $orange !important; }
.text-underline { text-decoration: underline !important; }




// HEADER
$header-top-height: 30px;
$header-main-height: 70px;
$header-main-height-scrolled: 50px;
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999999998;
	.header-top {
		@include transition(500ms);
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: $header-top-height;
		line-height: $header-top-height;
		color: $lightergrey;
		background: rgba(#000, 0.85);
		font-size: 0.75em;
		overflow: hidden;
		.socialmedia { font-size: 1.6em; }
		.contact { text-align: right; }
		a {
			color: $lightergrey;
			&:hover { color: #FFF; }
		}
	}
	.header-main {
		@include transition(500ms);
		position: absolute;
		top: $header-top-height;
		left: 0px;
		width: 100%;
		height: $header-main-height;
		line-height: $header-main-height;
		color: #FFF;
		background: rgba(#000, 0.5);
		overflow: hidden;
		.logo {
			img {
				@include transition(200ms);
				max-width: 275px;
				padding-top: 8px;
			}
		}
		.navigation {
			@include transition(100ms);
			text-align: right;
			line-height: $header-main-height;
			font-size: 1.2em;
			.fa { font-size: 1.4em; }
			ul {
				li {
					display: inline-block;
					border-right: solid 1px rgba(#000, 0.25);
					&:first-child { border-left: solid 1px rgba(#000, 0.25); }
					a {
						color: #FFF;
						display: block;
						padding: 0px 18px;
						&:hover {
							background: rgba(#FFF, 0.2);
						}
					}
				}
				.active {
					& a {
						color: $darkestgrey;
						background: rgba(#FFF, 0.75);
						&:hover { background: rgba(#FFF, 1); }
					}
				}
			}
		}
		.responsive-button {
			.responsive-button-bar {
				display: block;
				width: 25px;
				height: 5px;
				border-radius: 5px;
				margin-bottom: 3px;
				margin-left: 8px;
				background: #FFF;
			}
		}
	}

	// SCROLLED
	.header-top-scrolled {
		top: $header-top-height * -1;
		background: rgba($red, 1);
	}
	.header-main-scrolled {
		top: 0px;
		height: $header-main-height-scrolled;
		line-height: $header-main-height-scrolled;
		color: #FFF;
		background: rgba(#000, 0.8);
		.logo {
			img {
				max-width: 200px;
				padding-top: 7px;
			}
		}
		.navigation {
			line-height: $header-main-height-scrolled;
			font-size: 0.85em;
			ul {
				padding: 0px;
				margin: 0px;
				list-style: none;
				li {
					display: inline-block;
					a {
						color: #FFF;
						display: block;
						padding: 0px 18px;
						&:hover {
							background: rgba(#FFF, 0.2);
						}
					}
				}
				.active {
					& a {
						color: $darkestgrey;
						background: rgba(#FFF, 0.9);
						&:hover { background: rgba(#FFF, 1); }
					}
				}
			}
		}
	}
}


// RESPONSIVE MENU
$responsive-menu-lineheight: 70px;
#responsive-menu {
	@include transition();
	position: fixed;
	top: 0px;
	right: 100% * -1;
	width: 65%;
	height: 100%;
	background: $darkergrey;
	line-height: $responsive-menu-lineheight;
	font-size: 1.5em;
	z-index: 999999999;
	ul {
		li {
			a {
				display: block;
				padding-left: 15px;
				border-bottom: solid 1px rgba(#000, 0.25);
				color: #FFF;
				&:hover {
					background: rgba(#FFF, 0.15);
					padding-left: 25px;
				}
			}
			.active {
				background: #FFF;
				color: $red;
				&:hover {
					background: #FFF;
				}
			}
		}
	}
	.responsive-button-close {
		display: block;
		background: $red;
		padding-left: 15px;
		text-align: left;
		font-size: 1em;
		line-height: $responsive-menu-lineheight - 10px;
		border: none;
		border-radius: 0;
	}
}
.responsive-menu-show {
	right: 0px !important;
}


// BANNER (VIDEO & CONTENT)
$banner-height: 600px;
.banner {
	height: $banner-height;
	z-index: 1;
	.banner-image {
		min-height: $banner-height;
		img {
			padding-left: 10px;
			position: absolute;
			bottom: 0px;
		}
	}
	.banner-content {
		padding: 180px 70px 0px 50px;
		.banner-content-text {
			color: #FFF;
			padding: 20px 30px 30px 30px;
			background: rgba(#000, 0.75);
			border-bottom: solid 10px #000;
		}
	}
}
.bannerheader {
	background: #F90;
	z-index: -999;
}




// CONTENT
$content-space: 100px;
section {
	padding-top: $content-space;
	padding-bottom: $content-space;
}
.section-white {
	background: #FFF;
}
.section-grey {
	background: #F0F0F0;
}
.section-design {
	background: url("../images/designbackground.jpg") center center repeat $darkergrey;
	padding: 0px;
	margin: 0px;
	color: #FFF;
	.section-overlay-dark {
		@include transition(300ms);
		padding-top: $content-space;
		padding-bottom: $content-space;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.7);
		&:hover { background: rgba(#000, 0.82); }
	}
}
.content-menu {
	text-align: center;
	.content-menu-item {
		padding: 30px 5px 0px 5px;
		.content-menu-icon {
			@include transition(300ms);
			box-shadow: 0 0 0px 0px rgba($red, 0);
			-o-box-shadow: 0 0 0px 0px rgba($red, 0);
			-ms-box-shadow: 0 0 0px 0px rgba($red, 0);
			-moz-box-shadow: 0 0 0px 0px rgba($red, 0);
			-webkit-box-shadow: 0 0 0px 0px rgba($red, 0);
			background: $lightestgrey;
			overflow: hidden;
			border: solid 1px $lightestgrey;
			img {
				@include transition(150ms);
				border: solid 5px #FFF;
				width: 100%;
			}
		}
		.content-menu-title {
			@include transition(150ms);
			padding-top: 10px;
			color: $darkgrey;
		}
		hr { @include transition(300ms); border-color: $lightergrey; margin-top: 10px; }
		&:hover {
			.content-menu-icon {
				box-shadow: 0 0 15px 0px rgba($red, 0.5);
				-o-box-shadow: 0 0 15px 0px rgba($red, 0.5);
				-ms-box-shadow: 0 0 15px 0px rgba($red, 0.5);
				-moz-box-shadow: 0 0 15px 0px rgba($red, 0.5);
				-webkit-box-shadow: 0 0 15px 0px rgba($red, 0.5);
				border: solid 1px $red;
				img { border: solid 10px #FFF; }
			}
			.content-menu-title { color: $red; }
			hr { width: 70%; border-color: $red; }
		}
	}
}
.content-board {
	background: url("../images/boardbackground.jpg") center center no-repeat;
	.content-board-container {
		@include transition(1000ms);
		background: rgba($darkestgrey, 1);
		padding: 15px;
		.content-board-innercontainer {
			@include transition(500ms);
			border: solid 4px #FFF;
			box-shadow: 0 0 15px 0px rgba($red, 0);
			-o-box-shadow: 0 0 15px 0px rgba($red, 0);
			-ms-box-shadow: 0 0 15px 0px rgba($red, 0);
			-moz-box-shadow: 0 0 15px 0px rgba($red, 0);
			-webkit-box-shadow: 0 0 15px 0px rgba($red, 0);
			padding: 20px;
			min-height: 200px;
			color: #FFF;
		}
		hr {
			@include transition(250ms);
		}
	}
	&:hover {
		.content-board-container {
			background: rgba($darkestgrey, 0.7);
			padding: 15px;
			.content-board-innercontainer {
				border-color: $red;
				box-shadow: 0 0 15px 0px rgba($red, 1);
				-o-box-shadow: 0 0 15px 0px rgba($red, 1);
				-ms-box-shadow: 0 0 15px 0px rgba($red, 1);
				-moz-box-shadow: 0 0 15px 0px rgba($red, 1);
				-webkit-box-shadow: 0 0 15px 0px rgba($red, 1);
			}
		}
		hr {
			width: 70%;
			border-color: $red;
		}
	}
}
.content-follow {
	hr { @include transition(500ms); }
	.fa {
		@include transition(500ms);
		color: #FFF;
		font-size: 3em;
		padding: 0px 1px;
		&:hover {
			text-shadow: 0px 0px 20px rgba(#FFF, 0.75);
			-o-text-shadow: 0px 0px 20px rgba(#FFF, 0.75);
			-ms-text-shadow: 0px 0px 20px rgba(#FFF, 0.75);
			-moz-text-shadow: 0px 0px 20px rgba(#FFF, 0.75);
			-webkit-text-shadow: 0px 0px 20px rgba(#FFF, 0.75);
		}
	}
	&:hover {
		hr { width: 70%; }
	}
}




// FOOTER
.footer {
	@extend %clearspace-extend;
	background: $darkestgrey - 50;
	color: $grey;
	.footer-form {
		min-height: 100px;
		line-height: 100px;
		background: url("../images/designbackground-small.jpg") center center repeat $darkergrey;
		font-size: 1.25em;
		color: #FFF;
		.footer-form-container {
			@include transition(500ms);
			background: rgba(#000, 0.6);
			width: 100%;
			height: 100%;
			.footer-form-content {
				height: 100px;
				overflow: hidden;
				.footer-form-title {
					font-size: 1.5em;
					padding-right: 10px;
				}
			}
			.footer-form-text {
				@include transition(300ms);
				width: 100%;
				height: 50px;
				padding: 20px;
				background: rgba(#000, 0.25);
				border: solid 1px $red - 50;
				font-size: 0.8em;
				color: #FFF !important;
				&:hover {
					background: rgba(#000, 0.5);
					border: solid 1px $red;
				}
				&:active { background: #FFF; }
			}
			.footer-form-button {
				@include transition(300ms);
				width: 90%;
				height: 50px;
				line-height: 45px;
				background: rgba($red - 50, 1);
				border: solid 1px rgba($red - 50, 1);
				&:hover {
					border: solid 1px rgba($red, 1);
					background: rgba($red, 1);
				}
			}
			&:hover { background: rgba(#000, 0.75); }
		}
	}
	.footer-content {
		padding: 70px 0px 40px 0px;
		h5 {
			color: #FFF;
			padding-bottom: 10px;
		}
		.footer-content-list {
			li {
				line-height: 0.9em;
				padding-bottom: 12px;
				&:hover { color: $lightestgrey; }
			}
		}
		.footer-content-thumb {
			li {
				@extend %clearspace-extend;
				width: 29%;
				padding: 2px;
				display: inline-block;
				img {
					@include transition(300ms);
					width: 100%;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	.footer-bottom {
		@include transition(500ms);
		color: $lightergrey;
		background: $darkestgrey - 50;
		padding-bottom: 30px;
		hr {
			@include transition(500ms);
			border-color: $darkestgrey + 10;
			max-width: 500px;
			width: 70%;
		}
		.copyright, .rocket {
			text-align: center;
			font-size: 0.85em;
		}
		a {
			text-shadow: 1px 1px 1px rgba($red, 0);
			-o-text-shadow: 1px 1px 1px rgba($red, 0);
			-ms-text-shadow: 1px 1px 1px rgba($red, 0);
			-moz-text-shadow: 1px 1px 1px rgba($red, 0);
			-webkit-text-shadow: 1px 1px 1px rgba($red, 0);
		}
		&:hover {
			color: #FFF;
			background: $darkestgrey - 5;
			hr {
				border-color: $grey;
				max-width: 700px;
				width: 80%;
				box-shadow: 0 0 8px 1px rgba(#FFF, 0.2);
				-o-box-shadow: 0 0 8px 1px rgba(#FFF, 0.2);
				-ms-box-shadow: 0 0 8px 1px rgba(#FFF, 0.2);
				-moz-box-shadow: 0 0 8px 1px rgba(#FFF, 0.2);
				-webkit-box-shadow: 0 0 8px 1px rgba(#FFF, 0.2);
			}
			a {
				color: $blue;
				&:hover {
					color: $blue + 100;
					text-shadow: 1px 1px 15px rgba($blue + 100, 0.75);
					-o-text-shadow: 1px 1px 15px rgba($blue + 100, 0.75);
					-ms-text-shadow: 1px 1px 15px rgba($blue + 100, 0.75);
					-moz-text-shadow: 1px 1px 15px rgba($blue + 100, 0.75);
					-webkit-text-shadow: 1px 1px 15px rgba($blue + 100, 0.75);
				}
			}
		}
	}
}





// BOOTSTRAP OVERRIDE
.btn {
	@include transition(150ms);
	border: none;
	border-radius: 0px;
}
.btn-default {
	background: $lightestgrey;
	&:hover { background: $lightestgrey - 50; }
}
.btn-success {
	background: $green;
	&:hover { background: $green - 50; }
}
.btn-warning {
	background: $orange;
	&:hover { background: $orange - 50; }
}
.btn-danger {
	background: $red;
	&:hover { background: $red - 50; }
}




// MEDIA QUERY
@media (min-width: 1200px) { // LG

}
@media (min-width: 992px) and (max-width: 1199px) { // MD
	.banner {
		height: $banner-height - 40px;
		.banner-image {
			min-height: $banner-height - 40px;
		}
		.banner-content {
			padding: 150px 40px 0px 50px;
			.banner-content-text { padding: 15px 25px 25px 25px; }
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) { // SM
	header { .header-top { .contact { text-align: center; } } }
	.banner {
		height: $banner-height - 110px;
		.banner-content {
			padding: 130px 10px 0px 10px;
			.banner-content-text { padding: 15px 25px 25px 25px; }
		}
	}
}
@media (max-width: 767px) { // XS
	header { .header-top { .contact { text-align: center; } } }
	.banner {
		height: $banner-height - 50px;
		.banner-content {
			padding: 135px 0px 0px 0px;
			.banner-content-text { padding: 10px 18px 18px 18px; }
		}
	}
}